{% extends 'base.html'%} {% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}"> {% endblock %}
<!-- Content block -->

<!-- Content block -->

{% block content %}
<div class="container">
    <div class="jumbotron">

        <h1>Channel 24/7</h1>
    </div>

    <!-- 
    {{ macro.displayNewsList(business)}}
    {{ macro.displayNewsList(technology)}}
    {{ macro.displayNewsList(sports)}} -->
    {{ macro.displayNewsList(general)}} {{ macro.displayNewsList(entertainment)}}
</div>
{% endblock%}